<div ng-controller="competitionsController" class="ng-cloak" class="container">
    <h2>Competitions</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Host City</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="c in competitions">
         <td>{{c.title}}</td>
         <td>{{c.hostCity}}</td>
         <td>{{c.dateToDisplay}}</td>
         <td><button class="btn btn-default" ng-click="openCompetition(c.id)">Open</button></td>
        </tr>
       </tbody>
     </table>
</div>