<div ng-controller="competitionController" class="ng-cloak" class="container">
    <h2>Competition Title</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Athlete</th>
          <th>Exercise 1</th>
          <th>Exercise 2</th>
          <th>Exercise 3</th>
          <th>Exercise 4</th>
          <th>Exercise 5</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="a in athletes">
         <td>{{a.name}}</td>
         <td>{{a.exercise}}</td>
         <td>{{a.exercise}}</td>
         <td>{{a.exercise}}</td>
         <td>{{a.exercise}}</td>
         <td>{{a.exercise}}</td>
         <td><button class="btn btn-default" ng-click="test(c.id)">Open</button></td>
        </tr>
       </tbody>
     </table>
</div>